<div class="container"></div>
<div class="footer">
  <div class="footer-content">
    <div class="social-icons">
      <a
        class="social-icon social-icon--github"
        href="https://github.com/Tony2tones"
      >
        <i class="fa fa-github"></i>
        <div class="tooltip">Github</div>
      </a>
      <a
        class="social-icon social-icon--twitter"
        href="https://twitter.com/Pixel_Tones"
      >
        <i class="fa fa-twitter"></i>
        <div class="tooltip">Twitter</div>
      </a>
      <a
        class="social-icon social-icon--dribbble"
        href="https://dribbble.com/tony2tones"
      >
        <i class="fa fa-dribbble"></i>
        <div class="tooltip">Dribbble</div>
      </a>
      <a
        class="social-icon social-icon--overflow"
        href="https://stackoverflow.com/users/3460150/tony2tones"
      >
        <i class="fab fa-stack-overflow"></i>
        <div class="tooltip">StackOverflow</div>
      </a>
      <a
        class="social-icon social-icon--linkedin"
        href="https://www.linkedin.com/in/anthony-marques-65251630/"
      >
        <i class="fa fa-linkedin"></i>
        <div class="tooltip">LinkedIn</div>
      </a>
    </div>
    <p>
      Come checkout my blog for tips and tricks
      <a class="link" href="https://pixel-tones.com">right here </a>
    </p>
</div>
