<div class="container"></div>
<div class="footer">
  <p>
    <a class="link" href="https://pixel-tones.com">Blog </a>
  </p>
  <div class="footer-content">
    <div class="social-icons">
      <a
        class="social-icon social-icon--github"
        href="https://github.com/Tony2tones"
      >
        <i class="fa fa-github"></i>
      </a>
      <a
        class="social-icon social-icon--twitter"
        href="https://twitter.com/Pixel_Tones"
      >
        <i class="fa fa-twitter"></i>
      </a>
      <a
        class="social-icon social-icon--dribbble"
        href="https://dribbble.com/tony2tones"
      >
        <i class="fa fa-dribbble"></i>
      </a>
      <a
        class="social-icon social-icon--overflow"
        href="https://stackoverflow.com/users/3460150/tony2tones"
      >
        <i class="fab fa-stack-overflow"></i>
      </a>
      <a
        class="social-icon social-icon--linkedin"
        href="https://www.linkedin.com/in/anthony-marques-65251630/"
      >
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
</div>
