<h3>Pick your counntry</h3>
<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
  <select formControlName="continentSelect" class="form-control" (change)="changeCountry(event)">
    <option disabled>Select Continent</option>
    <option *ngFor="let continent of continents | async" [ngValue]="continent"> {{ continent.name }}</option>
  </select>

  <div class="selected-country">
    {{ continentSelect }}
  </div>
  <div class="btn-footer">
    <button type="submit" class="btn btn-primary" disabled="!reactiveForm.valid">submit</button>
  </div>
</form>
