<h3>Pick your counntry</h3>

<button (click)="openDropdown()">Select Country</button>

<div class="dropdown" *ngIf="show">
  <div *ngFor="let country of countries">
    <ul class="list-item">
      <li ><span class="flag-icon"></span>{{ country.name }}</li>
    </ul>
  </div>
</div>

<select formControlName="website" class="form-control" (change)="changeWebsite($event)">
  <option disabled>Select Website</option>
  <option>Choose Website</option>
  <option *ngFor="let web of websiteList">{{web}}</option>
</select> 
<br />


<!-- <label for="website">Website:</label>
            <select formControlName="website" class="form-control" (change)="changeWebsite($event)">
                <option disabled>Select Website</option>
                <option>Choose Website</option>
                <option *ngFor="let web of websiteList">{{web}}</option>
            </select> -->